* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #39a6b2;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: #39a6b2;
  color: #fce138;
  margin: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  color: #fce138;
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

header a {
  color: #fce138;
  text-decoration: none;
}

header nav ul {
  margin: 7px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

footer {
  background-color: #fce138;
  color: #39a6b2;
  padding: 35px 15px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer div {
  text-align: right;
  line-height: 1.5;
}

footer h2 {
  display: inline;
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

footer div a {
  color: #024e76;
  padding: 0 5px;
}

section {
  text-align: left;
  padding: 60px;
}

.hero {
  background-image: url("o-RUNNING-facebook.jpg");
  height: 600px;
  background-size: cover;
  background-position: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-cta {
  text-align: right;
  color: #024e76;
  background-color: white;
  width: 35%;
  margin: 3.5%;
  padding: 10px;
}

.hero-cta h2 {
  color: #024e76;
  font-size: 42px;
  margin: 0 0 5px 0;
  font-weight: bolder;
  font-style: italic;
}

.form {
  padding: 20px;
  background-color: #fce138;
  border: 2px solid #024e76;
  width: 45%;
  margin: 3.5%;
}

.form div h3 {
  font-size: 24px;
  margin: 5px 0 15px 0;
}

.form-input {
  font-size: 16px;
  border: 2px solid #024e76;
  display: block;
  padding: 7px 15px;
  width: 100%;
  color: #024e76;
  margin-bottom: 15px;
}
.form label {
  margin: 0 5px;
}

#getStarted p {
  padding: 5px 0 5px 0;
}

button {
  display: block;
  background-color: #024e76;
  color: #fce138;
  margin: 10px 0 0 5px;
  padding: 10px 20px 10px 20px;
  border: none;
}

.intro {
  text-align: center;
}

.intro img {
  align-items: center;
  margin-bottom: 35px;
  margin-top: 35px;
}

.intro p {
  line-height: 1.7;
  width: 80%;
  display: inline-block;
  text-align: center;
}

.section-title {
  font-size: 55px;
  color: #024e76;
  padding: 0 100px 20px 100px;
  border-bottom: 3px solid;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.gold-border {
  border-color: #fce138;
}

.blue-border {
  border-color: #39a6b2;
}

#what-we-do p {
  margin-top: 35px;
}

#what-you-do {
  background-color: #fce138;
}

.intro h3 {
  color: #024e76;
  font-size: 32px;
}

.step-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  padding: 25px 0;
  border-bottom: 2px solid #024e76;
}

.step {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
}

#what-you-do span {
  font-size: 24px;
}

.trainers {
  text-align: center;
}

.trainer-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.trainer-class {
  margin: 20px;
  color: #fce138;
  background-color: #024e76;
  flex: 1;
}

.trainer-class img {
  width: 100%;
}

.trainer-bio {
  padding: 25px;
  text-align: left;
}

.trainer-bio h3 {
  font-size: 28px;
}

.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin: 0 0 15px 0;
}

#reach-out h3,
a {
  color: #fce138;
}

#reach-out-header {
  color: #fce138;
  margin: 35px;
  text-align: center;
  position: relative;
  left: 25%;
}

#reach-out {
  background-color: #024e76;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: top;
}

.contact-form {
  margin: 20px;
}

.contact-form h3 {
  padding: 0 0 15px 0;
}

.contact-form label {
  margin: 5px 0 15px 0;
}

.contact-form input,
textarea {
  display: block;
  width: 100%;
  margin: 7px 0;
}

.contact-container iframe {
  height: 400px;
  margin: 40px;
}

.contact-container > * {
  flex: 1;
  margin: 15px;
}

.contact-info p,
address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  text-align: left;
}

.contact-container h3 {
  font-size: 28px;
}

.contact-button {
  color: #024e76;
  background-color: #fce138;
  position: relative;
  left: 40%;
}

.flex-row {
  display: flex;
}
